<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>fn-meeting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
